#sbtn{
    margin: 10px 0;
    padding: 15px 0;
    transition: all .2s linear;
    font-weight: 500;
    font-size: 20px;
    color: #000;
    cursor: pointer;
    border-bottom: 1px solid rgb(100, 100, 100);
} 

#sbtn:hover{
    color: red;
}
#sbtn.active{
    color: red;
}

#scontent{
    display: none;

}

#scontent.active{
    display: block;
}

#snames{
    text-align: left;
}

.stitle{
    margin-bottom: 20px;
}

.slick-arrow{
    font-size: 0;   
    position: absolute;
    top: 45%;
    z-index: 1;
    outline: 0;
    transform: translateY(-50%);
    background: none;
    border: none;
}

.slick-arrow::after{
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #ccc;
    background-color: none;
    border-left: 2px solid #ccc; 
}

.slick-prev{
    left: 10px;
    transform: rotate(-45deg);
}

.slick-next{
    right: 10px;
    transform: rotate(135deg);
}

.slick-dots{
    margin: 25px auto;
    display: flex;
    
    column-gap: 40px;

}

.slick-active::marker{
    color: red;
}

.slick-dots li{
    margin: 0 auto;
}

.slick-dots li::marker{
    width: 25px;
    height: 25px;
}


.slick-dots button{
    display: none;
}


#serv-img{
    width: 250px;
    margin: 5px;
}

#select{
    margin: 30px auto 0;
    position: relative; 
    padding: 0; 
    display: inline-block;
    text-align: center;
}

#select.active .select__body{
    display: block;
}

#select.active .select__icon1{
    transform: rotate(45deg);
    top: 40%;
}

.select__header{
    display: flex;
    cursor: pointer;
    width: 300px;
    border: 1px solid #ccc;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 1em;
}

.select__icon{
    padding: 20px 15px 0 0;
}

.select__icon1{
    
    width: 20px;
    height: 20px;
    border-top: 3px solid #ccc;
    border-left: 3px solid #ccc;
    right: 15px;
    top: 40%;
    transform: translateY(-50%) rotate(-135deg);
}

.select__current{
    font-size: 18px;
    line-height: 30px;
    padding: 8px;
    padding-right: 30px;
    width: 100%;
}

.select__body{
    border: 1px solid #ccc;
    position: absolute;
    left: 0;
    right: 0;
    width: 300px;
    top: 100%;
    display: none;
    z-index: 22222222;
    background-color: #fff;
    border-radius: 1em;
    margin: 0 auto;
    margin-top: 10px;
}

.select__item{
    padding: 8.5px;
    line-height: 24px;
    font-size: 16px;
    transition: all .2s linear;
    cursor: pointer;
    border-radius: 1em;
    text-align: center;
}

.select__item:hover{
    background-color: rgb(248, 149, 149);
    color: #fff;
}
  
.slider__img{
    max-height: 600px;
}

.lang__container{
    display: flex;
    column-gap: 10px;
    position: absolute;
    top: 0;
    right: 18px;
}

.lang__link{
    margin-top: 10px;

}

.lang__link img{
    width: 20px;
    height: 20px;
}

.custom-navbar .navbar-nav.navbar-nav-first{
    float: right;
}

.translate{
    background-color: transparent;
    border: 0;
    margin-top: 10px;
    outline: 0;
}

.translate img{
    width: 20px;
    height: 20px;
}

#triangle-topleft {
    
    border-top: 50px solid red;
    border-right: 50px solid transparent;
    position: absolute;
    top: 0;left: 0;    
    opacity: 0;
  }

  #partner__img{
      margin-top: 30px;
  }
@media(max-width:770px){
    .lang__container{
        position: static;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        width: 80px;
    }
    .custom-navbar .navbar-nav.navbar-nav-first{
        float: none;
    }

}
#logo{
    display: none;
}
@media(max-width:1000px){
    .custom-navbar .nav li a{
        font-size: 11px;
    }
}

@media(max-width:767px){
    #logo1{
        display: none;
    }
    #logo{
        margin-left: 25px;
        display: block;
    }
    #triangle-topleft{
        opacity: 1;
    }
}
  
.custom-navbar.top-nav-collapse #triangle-topleft{
    opacity: 1;
}

.custom-navbar.top-nav-collapse #logo{
    display: block;
}

.custom-navbar.top-nav-collapse #logo1{
    display: none;
}